* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg {
  background-image: url(./img/bg1.jpg);
  height: 710px;
  background-size: cover;
}
.bg .main__navbar {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
}
.bg .navbar__menu {
  display: flex;
  gap: 54px;
}
.bg .navbar__menu a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #A9A9AA;
}
.bg .navbar__menu a:hover {
  color: #FE390C;
}
.bg .navbar__but button {
  color: #FE390C;
  border: 1px solid #FE390C;
  width: 92px;
  height: 39px;
  background-color: black;
}
.bg .header__section {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}
.bg .header__section .header__cards .header__text1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.bg .header__section .header__cards .header__text1 span {
  color: #FE390C;
}
.bg .header__section .header__cards h1 {
  font-family: "Anton", sans-serif;
  font-size: 130px;
  color: #fff;
  border-right: 3px solid #fff;
}
.bg .header__section .header__cards .header__text2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.bg .header__section .header__but {
  padding-top: 24px;
}
.bg .header__section .header__but button {
  background: #FE390C;
  width: 106px;
  height: 47px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.bg .header__icon {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__me__section {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  justify-content: space-between;
  gap: 65px;
}
.about__me__section .customers__container {
  display: flex;
  gap: 60px;
}
.about__me__section .customers__container .customers__one img {
  width: 230px;
  height: 256px;
}
.about__me__section .customers__container .customers__one p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.about__me__section .customers__container .customers__one p span {
  font-size: 64px;
  color: #FE390C;
  font-family: "Anton", sans-serif;
}
.about__me__section .customers__container .customers__two img {
  width: 230px;
  height: 256px;
}
.about__me__section .customers__container .customers__two p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.about__me__section .customers__container .customers__two p span {
  font-size: 64px;
  color: #FE390C;
  font-family: "Anton", sans-serif;
}
.about__me__section .customers__container__two .one__text {
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
.about__me__section .customers__container__two .one__text span {
  color: #FE390C;
  font-size: 80px;
}
.about__me__section .customers__container__two .two__text {
  color: #A9A9AA;
  width: 70%;
  line-height: 32px;
  padding-left: 20%;
}

.brends {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px;
}

.next__section {
  background-image: url(./img/Bg2.jpg);
  height: 335px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.next__section h2 {
  font-family: "Anton", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  font-weight: 400;
}
.next__section button {
  width: 138px;
  height: 47px;
  background-color: #FE390C;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: auto;
}
.next__section .saq {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 40px 0;
}
.next__section .saq p {
  color: #A9A9AA;
}

.tittle {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.tittle p {
  color: #111214;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
.tittle p span {
  color: #FE390C;
  font-size: 80px;
}

.product__section {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
}
.product__section .product__card {
  width: 230px;
  background: #F7F7F7;
}
.product__section .product__card:hover {
  background-color: #FE390C;
}
.product__section .product__card:hover .card__info img {
  color: #fff;
}
.product__section .product__card:hover .card__info b {
  color: #fff;
}
.product__section .product__card:hover .card__info p {
  color: #fff;
}
.product__section .card__info {
  display: flex;
  flex-direction: column;
  padding: 41px 22px;
}
.product__section img {
  width: 27px;
}
.product__section b {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding-top: 26px;
}
.product__section p {
  color: #A9A9AA;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
}

.container__bg3 {
  padding-top: 80px;
}
.container__bg3 .bg3 {
  background: #F7F7F7;
  padding: 80px 0;
}
.container__bg3 .bg3 .portfolio__section {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.container__bg3 .bg3 .portfolio__section p {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.container__bg3 .bg3 .portfolio__section p span {
  font-size: 80px;
  color: #FE390C;
  font-family: "Anton", sans-serif;
}
.container__bg3 .bg3 .portfolio__section .card2 {
  display: flex;
  gap: 40px;
}
.container__bg3 .bg3 .portfolio__section .card2 a {
  text-decoration: none;
  color: #A9A9AA;
  font-family: "Montserrat", sans-serif;
}
.container__bg3 .bg3 .portfolio__section .card2 a:hover {
  border: 1px solid #FE390C;
  color: #FE390C;
}
.container__bg3 .bg3 .portfolio__section .card3 img {
  width: 100px;
}
.container__bg3 .bg3 .portfolio__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}
.container__bg3 .bg3 .portfolio__img img {
  width: 364px;
}

.testimonial__section {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  gap: 100px;
  padding-top: 200px;
}
.testimonial__section .testi__img img {
  width: 364px;
  height: 422px;
}
.testimonial__section .testi__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__section .testi__text .test__text1 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.testimonial__section .testi__text .test__text1 span {
  font-size: 80px;
  color: #FE390C;
}
.testimonial__section .testi__text .test__text2 {
  color: #FE390C;
  font-size: 50px;
}
.testimonial__section .testi__text .test__text3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 60%;
}
.testimonial__section .testi__text .test__text4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FE390C;
  font-weight: 700;
}
.testimonial__section .testi__text .test__text5 {
  color: #A9A9AA;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.testimonial__section .testi__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__section .testi__card p {
  color: #C4C4C4;
  font-family: "Anton", sans-serif;
}
.testimonial__section .testi__card p span {
  color: #FE390C;
}
.testimonial__section .testi__card img {
  width: 100px;
}

.footer {
  background: #111214;
  padding: 100px 0;
}
.footer .main__container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.footer .main__container .footer__text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
.footer .main__container .footer__text_container .footer__text p {
  color: #FFFFFF;
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.footer .main__container .footer__text_container .footer__text p span {
  font-size: 80px;
  color: #FE390C;
}
.footer .main__container .footer__text_container .contact1 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}
.footer .main__container .footer__text_container .contact1 img {
  width: 19px;
}
.footer .main__container .footer__text_container .contact1 .contcard1 {
  color: #fff;
}
.footer .inputs__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__inputs p {
  font-family: "Anton", sans-serif;
  color: #fff;
}
.footer .footer__inputs p span {
  color: #FE390C;
}
.footer .input__one {
  display: flex;
  gap: 30px;
}
.footer .input__one .inputcard p {
  color: #fff;
}
.footer .input__one .inputcard input {
  width: 312px;
  height: 54px;
  background: rgba(202, 205, 209, 0.1019607843);
}
.footer .input__two p {
  color: #fff;
}
.footer .input__two input {
  width: 654px;
  height: 124px;
  background: rgba(202, 205, 209, 0.1019607843);
}
.footer .inputs__but button {
  background: #FE390C;
  color: #fff;
  width: 148px;
  height: 47px;
  border-radius: 5px;
  border: none;
}

.media__img {
  display: none;
}

.input__two__media {
  display: none;
}

@media only screen and (max-width: 376px) {
  .main__navbar .navbar__menu {
    display: none;
  }
  .main__navbar .navbar__but {
    display: none;
  }
  .media__img {
    display: block;
  }
  .about__me__section {
    display: flex;
    flex-direction: column;
  }
  .about__me__section .customers__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .about__me__section .customers__container__two .two__text {
    width: 400px;
  }
  .brends {
    display: flex;
  }
  .product__section {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    gap: 32px;
  }
  .bg3 .card2 {
    display: flex;
    flex-direction: column;
  }
  .portfolio__img {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .testimonial__section {
    display: flex;
    flex-direction: column;
  }
  .main__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .input__one {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .input__two {
    display: none;
  }
  .input__two__media {
    display: block;
  }
  .input__two__media p {
    color: #fff;
  }
  .input__two__media input {
    width: 342px;
    height: 124px;
    background-color: rgba(202, 205, 209, 0.1019607843);
  }
  .inputs__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */